.main-nav {
  border: 0;
  background-color: transparent;
  margin-bottom: 0;

  &__list {}

  &__item {
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 15px;
    }

    @media (min-width: @screen-lg) {
      font-size: 20px;
    }
  }

  &__link {
    color: @text-color;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      height: 1px;
      bottom: 0;
      left: 0;
      width: 0;
      background-color: @pink;
      transition: all .3s ease-in-out 0s;
    }

    &:hover {

      &::after {
        width: 80%;
      }
    }
  }

  &__additional-info {
    display: none;
    color: #8A8C94;

    @media (min-width: @screen-md) {
      font-size: 20px;
      display: inline-block;
      padding: 12px 0;
    }
  }

  /*! Changing Boostrap Styles*/
  &.navbar-default .navbar-nav > li > a {
    color: @text-color;

    @media (min-width: @screen-sm) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .navbar-collapse {

    @media (min-width: @screen-sm) {
      padding-left: 0;
    }
  }
}