.promo {
  padding: 2em 0;

  &__list {
    margin-left: -5px;
    margin-right: -5px;

    &--small {
      margin-left: -5px;
      margin-right: -5px;
    }
  }

  div[class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }

  &__item {
    background-color: @pink;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    cursor: pointer;
    min-height: 180px;
    margin-bottom: 10px;

    @media (min-width: @screen-sm) {
      min-height: 270px;
    }

    @media (min-width: @screen-md) {
      min-height: 370px;
    }

    &--small {
      margin-bottom: 10px;
      min-height: 180px;

      @media (min-width: @screen-sm) {
        min-height: 130px;
      }

      @media (min-width: @screen-md) {
        min-height: 180px;
      }
    }

    &:hover {

      .promo__upper-layer {
        opacity: 1;
      }
    }
  }

  &__upper-layer {
    background-image: linear-gradient(-225deg, rgba(36,34,34,0.40) 0%, rgba(39,38,38,0.54) 72%, rgba(40,39,39,0.60) 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }

  &__content {
    position: absolute;
    bottom: 2em;
    left: 1em;
    color: @white;

    p {
      margin: 0;
      text-transform: uppercase;
      position: relative;
      line-height: 1.1em;

      &::after {
        position: absolute;
        content: '';
        background-color: @white;
        height: 2px;
        width: 130px;
        bottom: -.5em;
        left: 0;
      }

      @media (min-width: @screen-lg) {
        font-size: 30px;
      }
    }
  }
}