<div class="promo">
  <div class="container">
    <div class="promo__list row">
      <div class="col-xs-12 col-sm-8">
        <a href="#">
          <div class="promo__item" style="background-image: url(images/bg--furniture.jpg);">
            <div class="promo__upper-layer"></div>
            <div class="promo__content">
              <p>Мебель</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a href="#">
          <div class="promo__item" style="background-image: url(images/bg--control.jpg);">
            <div class="promo__upper-layer"></div>
            <div class="promo__content">
              <p>Авторский надзор</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="promo__list row">
      <div class="col-xs-12 col-sm-4">
        <a href="#">
          <div class="promo__item" style="background-image: url(images/bg--fabrics.jpg);">
            <div class="promo__upper-layer"></div>
            <div class="promo__content">
              <p>Ткани и обои</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="promo__list--small row">
          <div class="col-xs-12">
            <a href="#">
              <div class="promo__item promo__item--small" style="background-image: url(images/bg--wall-panels.jpg);">
                <div class="promo__upper-layer"></div>
                <div class="promo__content">
                  <p>Стеновые панели</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-12">
            <a href="#">
              <div class="promo__item promo__item--small" style="background-image: url(images/bg--mirrors.jpg);">
                <div class="promo__upper-layer"></div>
                <div class="promo__content">
                  <p>Свет и зеркала</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <a href="#">
          <div class="promo__item" style="background-image: url(images/bg--doors.jpg);">
            <div class="promo__upper-layer"></div>
            <div class="promo__content">
              <p>Двери</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>