<section class="news">
  <div class="container">
    <h2 class="main-subtitle">Новости</h2>
    <div class="news__list row">
      <div class="col-xs-12 col-sm-6  col-md-3">
        <div class="item">
          <div class="item__cover" style="background-image: url(images/news-cover-1.jpg);"></div>
          <div class="item__content">
            <time pubdate datetime="2017-03-26">26.03.2017</time>
            <h3 class="item__title">В продаже появились новые модели межкомнатных дверей</h3>
            <p class="item__text">Roziere &mdash; французская компания, которая занимается изготовлением межкомнатных дверей, отличительными</p>
            <div class="more"><a href="#">Далее</a></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6  col-md-3">
        <div class="item">
          <div class="item__cover" style="background-image: url(images/news-cover-2.jpg);"></div>
          <div class="item__content">
            <time pubdate datetime="2017-03-26">26.03.2017</time>
            <h3 class="item__title">В продаже появились новые модели межкомнатных дверей</h3>
            <p class="item__text">Roziere &mdash; французская компания, которая занимается изготовлением межкомнатных дверей, отличительными</p>
            <div class="more"><a href="#">Далее</a></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6  col-md-3">
        <div class="item">
          <div class="item__cover" style="background-image: url(images/news-cover-3.jpg);"></div>
          <div class="item__content">
            <time pubdate datetime="2017-03-26">26.03.2017</time>
            <h3 class="item__title">В продаже появились новые модели межкомнатных дверей</h3>
            <p class="item__text">Roziere &mdash; французская компания, которая занимается изготовлением межкомнатных дверей, отличительными</p>
            <div class="more"><a href="#">Далее</a></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6  col-md-3">
        <div class="item">
          <div class="item__cover" style="background-image: url(images/news-cover-4.jpg);"></div>
          <div class="item__content">
            <time pubdate datetime="2017-03-26">26.03.2017</time>
            <h3 class="item__title">В продаже появились новые модели межкомнатных дверей</h3>
            <p class="item__text">Roziere &mdash; французская компания, которая занимается изготовлением межкомнатных дверей, отличительными</p>
            <div class="more"><a href="#">Далее</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>