<section class="our-projects">
  <div class="container">
    <h2 class="main-subtitle">Наши проекты</h2>
    <div class="our-projects__content">
      <div class="our-projects__list row">
        <div class="col-xs-12 col-sm-4">
          <div class="our-projects__item" style="background-image: url(images/our-project-1.jpg);">
            <div class="our-projects__upper-layer">
              <a href="#">Подробнее</a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="our-projects__list our-projects__list--small row">
            <div class="col-xs-12">
              <div class="our-projects__item our-projects__item--small" style="background-image: url(images/our-project-2.jpg);">
                <div class="our-projects__upper-layer">
                  <a href="#">Подробнее</a>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="our-projects__item our-projects__item--small" style="background-image: url(images/our-project-3.jpg);">
                <div class="our-projects__upper-layer">
                  <a href="#">Подробнее</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="our-projects__item" style="background-image: url(images/our-project-4.jpg);">
            <div class="our-projects__upper-layer">
              <a href="#">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="our-projects__more">
      <button class="btn">Все проекты</button>
    </div>
  </div>
</section>