.our-projects {
  padding: 2em 0;

  &__content {
    margin-bottom: 1em;
  }

  &__list {
    margin-left: -5px;
    margin-right: -5px;
  }

  div[class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }

  &__item {
    background-color: @pink;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 80%;
    min-height: 370px;
    margin-bottom: 10px;
    position: relative;

    &:hover,
    &:focus {

      .our-projects__upper-layer {
        opacity: 1;
      }
    }

    &--small {
      margin-bottom: 10px;

      @media (min-width: @screen-sm) {
        min-height: 180px;
      }
    }
  }

  &__upper-layer {
    position: absolute;
    background-image: linear-gradient(-225deg, rgba(36,34,34,0.40) 0%, rgba(39,38,38,0.54) 72%, rgba(40,39,39,0.60) 100%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: all .3s ease-in-out 0s;

    @media (min-width: @screen-md) {
      opacity: 0;
    }

    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: @white;
      border: 1px solid @white;
      border-radius: 30px;
      background-color: transparent;
      padding: 13px 36px;
      text-transform: uppercase;
      font-size: 18px;

      &:hover {
        background-color: @white;
        color: @text-color;
      }
    }
  }

  &__more {
    text-align: center;
  }
}