.breadcrumbs {
  padding: 1em 0;
  padding-top: 2em;
  font-size: 14px;

  &__list {
    background-color: transparent;
    padding-left: 0;

    li {

      a {
        color: #8A8C94;

        &:hover {
          color: @pink;
        }
      }
    }
  }
}