.categories {
  padding: 2em 0;

  &__slider {
    margin-top: 4em;
  }

  &__item {
    border: 1px solid #E9E9E9;
    position: relative;
    transition: all .3s ease-in-out 0s;
    display: block;
    position: relative;
    min-height: 260px;

    &:hover {
      border: 1px solid @pink;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    width: 90%;
  }

  &__cover-wrapper {
    min-height: 95px;
  }

  &__cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-bottom: 2em;

    &--furniture {
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/furniture.svg');
      width: 66px;
      height: 77px;
    }

    &--doors {
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/doors.svg');
      width: 60px;
      height: 72px;
      transform: translateY(5px);
    }

    &--complex {
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/complex.svg');
      width: 63px;
      height: 95px;
      transform: translateY(-10px);
    }

    &--sofa {
      background-image: data-uri('image/svg+xml;charset=UTF-8', '../images/sofa.svg');
      width: 90px;
      height: 60px;
      transform: translateY(15px);
    }
  }

  &__desc {
    text-transform: uppercase;
    color: @text-color;
  }

  /*! Fixing Styles For Carousel */
  .owl-nav {
    text-align: left;

    @media (min-width: @screen-sm) {
      text-align: right;
      position: absolute;
      top: -2em;
      right: 0;
      transform: translateY(-36px);
      margin: 0;
      margin-top: 0;
    }
  }

  .owl-nav [class*='owl-'] {
    background: transparent;
    margin: 0;
    padding: 0;
  }

  .owl-theme .owl-nav {
    text-align: left;
    margin-top: 30px;

    @media (min-width: @screen-sm) {
      text-align: center;
      margin-top: 10px;
    }
  }

  .owl-theme .owl-nav .disabled {
    opacity: 1;
  }

  .owl-theme .owl-nav [class*=owl-] {
    background: none;
    margin: 0;
    padding: 4px 12px;
  }

  .owl-theme .owl-nav [class*='owl-']:hover {
    background: none;
  }

  .owl-prev, .owl-next {

    svg {
      transition: all .2s ease-in-out 0s;
    }

    &:hover,
    &:focus {

      svg {
        fill: @pink;
      }
    }

    &:active {}
  }

  .owl-prev {
    position: relative;
    padding-left: 0;

    &::after {
      position: absolute;
      content: '';
      right: 0;
      top: 1px;
      width: 1px;
      height: 26px;
      background-color: @text-color;
    }
  }

  .owl-next {
    padding-right: 0;

    svg {
      transform: rotate3D(0, 1, 0, 180deg);
    }
  }
}