<section class="categories">
  <div class="container">
    <h2 class="main-subtitle">Категории товаров</h2>
    <div class="categories__slider owl-carousel owl-theme">
      <a href="#"  class="categories__item">
        <figure class="categories__content">
          <div class="categories__cover-wrapper">
            <div class="categories__cover categories__cover--furniture"></div>
          </div>
          <figcaption class="categories__desc">Мебель на заказ</figcaption>
        </figure>
      </a>
      <a href="#" class="categories__item">
        <figure class="categories__content">
          <div class="categories__cover-wrapper">
            <div class="categories__cover categories__cover--doors"></div>
          </div>
          <figcaption class="categories__desc">Двери на заказ</figcaption>
        </figure>
      </a>
      <a href="#"  class="categories__item">
        <figure class="categories__content">
          <div class="categories__cover-wrapper">
            <div class="categories__cover categories__cover--complex"></div>
          </div>
          <figcaption class="categories__desc">Готовая мебель</figcaption>
        </figure>
      </a>
      <a href="#"  class="categories__item">
        <figure class="categories__content">
          <div class="categories__cover-wrapper">
            <div class="categories__cover categories__cover--sofa"></div>
          </div>
          <figcaption class="categories__desc">Мягкая мебель</figcaption>
        </figure>
      </a>
      <a href="#"  class="categories__item">
        <figure class="categories__content">
          <div class="categories__cover-wrapper">
            <div class="categories__cover categories__cover--furniture"></div>
          </div>
          <figcaption class="categories__desc">Какая-то еще мебель</figcaption>
        </figure>
      </a>
      <a href="#"  class="categories__item">
        <figure class="categories__content">
          <div class="categories__cover-wrapper">
            <div class="categories__cover categories__cover--furniture"></div>
          </div>
          <figcaption class="categories__desc">Остальная мебель</figcaption>
        </figure>
      </a>
    </div>
  </div>
</section>