.btn {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid @pink;
  border-radius: 30px;
  color: @text-color;
  background-color: transparent;
  background-image: none;
  padding: 13px 36px;
  touch-action: manipulation;
  overflow: hidden;
  z-index: 1;
  transition: all .3s ease-in-out 0s;
  min-width: 190px;

  &:hover {
    color: @white;
    background-color: @pink;
  }
}