.item {
  margin-bottom: 10px;

  @media (min-width: @screen-md) {
    margin-bottom: 0;
  }

  time {
    font-size: 12px;
  }

  &__cover {
    width: 100%;
    min-height: 170px;
    background-color: @pink;
    background-repeat: no-repeat;
    background-position: 0 70%;
    background-size: cover;
  }

  &__content {
    border: 1px solid #E9E9E9;
    padding: 1.5em 1em;
  }

  &__title {
    font-weight: 400;
    font-size: 18px;
    max-width: 20em;
    line-height: 1.1em;

    @media (min-width: @screen-sm) {
      font-size: 24px;
    }
  }

  &__text {
    margin-bottom: 1em;
    max-width: 25em;
  }
}