.more {

  a {
    position: relative;
    display: inline-block;
    color: @pink;
    text-transform: uppercase;
    letter-spacing: 0.114em;

    &::after {
      position: absolute;
      content: '';
      height: 1px;
      width: 90%;
      background-color: @pink;
      bottom: -.25em;
      left: 0;
    }

    &:hover {
      color: @pink--light;
    }
  }
}