<section class="catalog">
  <div class="container">
    <h2 class="main-subtitle">Стеновые панели <span>Lasershpan</span></h2>
    <div class="catalog__list row">
      <div class="col-xs-12 col-sm-3">
        <div class="product">
          <div class="product__cover"></div>
          <div class="product__content">
            <p class="product__desc">Стеновая панель Lazashpan шпон файн-лайн Эбен 021 S 1200*300мм LZ &mdash; …</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="product">
          <div class="product__cover"></div>
          <div class="product__content">
            <p class="product__desc">Стеновая панель Lazashpan шпон файн-лайн Эбен 021 S 1200*300мм LZ &mdash; …</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="product">
          <div class="product__cover"></div>
          <div class="product__content">
            <p class="product__desc">Стеновая панель Lazashpan шпон файн-лайн Эбен 021 S 1200*300мм LZ &mdash; …</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="product">
          <div class="product__cover"></div>
          <div class="product__content">
            <p class="product__desc">Стеновая панель Lazashpan шпон файн-лайн Эбен 021 S 1200*300мм LZ &mdash; …</p>
          </div>
        </div>
      </div>
    </div>
    <div class="catalog__list row">
      <div class="col-xs-12 col-sm-3">
        <div class="product">
          <div class="product__cover"></div>
          <div class="product__content">
            <p class="product__desc">Стеновая панель Lazashpan шпон файн-лайн Эбен 021 S 1200*300мм LZ &mdash; …</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="product">
          <div class="product__cover"></div>
          <div class="product__content">
            <p class="product__desc">Стеновая панель Lazashpan шпон файн-лайн Эбен 021 S 1200*300мм LZ &mdash; …</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="product">
          <div class="product__cover"></div>
          <div class="product__content">
            <p class="product__desc">Стеновая панель Lazashpan шпон файн-лайн Эбен 021 S 1200*300мм LZ &mdash; …</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="product">
          <div class="product__cover"></div>
          <div class="product__content">
            <p class="product__desc">Стеновая панель Lazashpan шпон файн-лайн Эбен 021 S 1200*300мм LZ &mdash; …</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>