.logo {
  display: block;
  position: relative;

  &__cover {
    display: inline-block;
    margin-right: 1em;
  }

  &__image {
    fill: @text-color;
    transform: translateY(3px);
  }

  &__desc {
    display: none;

    @media (min-width: @screen-sm) {
      display: inline-block;
    }

    &--in-footer {
      display: inline-block;
    }
  }

  &__desc-name,
  &__desc-address {
    display: block;
  }

  &__desc-name {
    font-size: 20px;
    color: @text-color;
    margin-bottom: .25em;
    text-transform: uppercase;

    &--in-footer {
      color: @white;
    }
  }

  &__desc-address {
    font-size: 14px;
    color: #8A8C94;
  }
}