<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="index.html" class="logo">
            <div class="logo__cover">
              <svg class="logo__image" width="37" height="49" viewBox="0 0 37 49" xmlns="http://www.w3.org/2000/svg">
                <title>Интерьерный салон</title>
                <path d="M35.59 14.826l-7.956-13.19C27.016.623 25.914.003 24.724 0H11.38C10.19.004 9.092.624 8.475 1.637L.508 14.827c-.63 1.046-.65 2.35-.052 3.417.598 1.065 1.723 1.727 2.945 1.733h9.514c.677 1.047 1.287 3.182 1.648 5.796.028.37-.233.7-.6.757-2.73.473-9.056 2.314-8.847 9.223.152 5.085 3.188 7.29 5.405 8.903 1.154.84 2.15 1.566 2.486 2.45.025.08-.006.168-.076.214l-.05.046c-.238.21-.32.546-.206.842.112.296.397.49.713.49l8.695-.05c.32-.01.6-.22.7-.525.1-.305 0-.64-.253-.838-.074-.042-.106-.13-.077-.21.356-.934 1.372-1.67 2.542-2.54 2.303-1.668 5.166-3.743 5.318-8.76.224-7.38-7.057-8.965-9.3-9.275-.102-.048-.168-.15-.167-.265.158-2.425.885-5.084 1.688-6.258h10.17c1.22-.008 2.344-.67 2.94-1.736.598-1.064.578-2.368-.053-3.414zm-6.797 20.897c-.127 4.266-2.542 6.02-4.688 7.57-1.317.957-2.542 1.856-3.08 3.22-.074.194-.11.4-.108.61l-6.38.035c0-.205-.035-.408-.107-.6-.51-1.307-1.72-2.197-3.01-3.137-2.177-1.586-4.648-3.385-4.775-7.717-.173-5.507 4.673-7.17 7.59-7.668 1.18-.195 1.998-1.283 1.857-2.47-.224-1.87-.684-3.702-1.368-5.456H20.7c-.793 1.918-1.258 3.956-1.38 6.03-.05.924.61 1.735 1.526 1.875 2.425.336 8.135 1.77 7.947 7.708zM34.33 17.5c-.328.59-.952.956-1.627.95H3.4c-.673 0-1.295-.362-1.627-.95-.332-.587-.32-1.308.027-1.886l7.977-13.19c.34-.557.948-.897 1.602-.9h13.345c.654.003 1.26.343 1.602.9l7.977 13.19c.353.577.363 1.3.026 1.886z" fill-rule="nonzero"/ fill="#fff">
              </svg>
            </div>
            <div class="logo__desc logo__desc--in-footer">
              <span class="logo__desc-name logo__desc-name--in-footer">Интерьерный салон</span>
              <span class="logo__desc-address">Гороховая, 66</span>
            </div>
          </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5">
        <nav class="page-footer__nav">
          <ul class="page-footer__nav-list">
            <li class="page-footer__nav-item">
              <a href="#" class="page-footer__nav-link">Каталог</a>
            </li>
            <li class="page-footer__nav-item">
              <a href="#" class="page-footer__nav-link">Наши проекты</a>
            </li>
            <li class="page-footer__nav-item">
              <a href="#" class="page-footer__nav-link">Отзывы</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <address class="main-address main-address--in-footer">
          <ul class="main-address__list">
            <li class="main-address__item">
              <a href="tel:+78121234567" class="main-address__link main-address__link--bg-dark main-address__link--phone">+7 (812) 123-45-67</a>
            </li>
            <li class="main-address__item">
              <a href="mailto:mail@гороховая66.рф" class="main-address__link main-address__link--e-mail">mail@гороховая66.рф</a>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</footer>