.page-footer {
  padding: 2em 0;
  background-color: @bg-color--dark;
  color: @white;

  &__nav {
    margin: 1em 0;

    @media (min-width: @screen-sm) {
      text-align: right;
      margin: 0;
    }

    @media (min-width: @screen-md) {
      text-align: center;
    }
  }

  &__nav-list {
    list-style-type: none;
  }

  &__nav-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1em;
    }
  }

  &__nav-link {
    display: inline-block;
    position: relative;
    color: @white;
    padding: .5em 0;
    text-transform: uppercase;

    &:hover {
      color: @pink;
    }
  }
}