.similar-products {

  /*! Fixing Styles For Carousel */
  .owl-nav {
    text-align: left;

    @media (min-width: @screen-sm) {
      text-align: right;
      position: absolute;
      top: -2em;
      right: 0;
      transform: translateY(-36px);
      margin: 0;
      margin-top: 0;
    }
  }

  .owl-nav [class*='owl-'] {
    background: transparent;
    margin: 0;
    padding: 0;
  }

  .owl-theme .owl-nav {
    text-align: left;
    margin-top: 30px;

    @media (min-width: @screen-sm) {
      text-align: center;
      margin-top: 10px;
    }
  }

  .owl-theme .owl-nav .disabled {
    opacity: 1;
  }

  .owl-theme .owl-nav [class*=owl-] {
    background: none;
    margin: 0;
    padding: 4px 12px;
  }

  .owl-theme .owl-nav [class*='owl-']:hover {
    background: none;
  }

  .owl-prev, .owl-next {

    svg {
      transition: all .2s ease-in-out 0s;
    }

    &:hover,
    &:focus {

      svg {
        fill: @pink;
      }
    }

    &:active {}
  }

  .owl-prev {
    position: relative;
    padding-left: 0;

    &::after {
      position: absolute;
      content: '';
      right: 0;
      top: 1px;
      width: 1px;
      height: 26px;
      background-color: @text-color;
    }
  }

  .owl-next {
    padding-right: 0;

    svg {
      transform: rotate3D(0, 1, 0, 180deg);
    }
  }
}