<section class="similar-products">
  <div class="container">
    <h2 class="main-subtitle">Пхожие товары</h2>
    <div class="similar-products__slider owl-carousel owl-theme">
      <div class="product">
        <div class="product__cover"></div>
        <div class="product__content">
          <p class="product__desc">Стеновая панель Lazashpan шпон файн-лайн Эбен 021 S 1200*300мм LZ &mdash; …</p>
        </div>
      </div>
      <div class="product">
        <div class="product__cover"></div>
        <div class="product__content">
          <p class="product__desc">Стеновая панель Lazashpan шпон файн-лайн Эбен 021 S 1200*300мм LZ &mdash; …</p>
        </div>
      </div>
      <div class="product">
        <div class="product__cover"></div>
        <div class="product__content">
          <p class="product__desc">Стеновая панель Lazashpan шпон файн-лайн Эбен 021 S 1200*300мм LZ &mdash; …</p>
        </div>
      </div>
      <div class="product">
        <div class="product__cover"></div>
        <div class="product__content">
          <p class="product__desc">Стеновая панель Lazashpan шпон файн-лайн Эбен 021 S 1200*300мм LZ &mdash; …</p>
        </div>
      </div>
      <div class="product">
        <div class="product__cover"></div>
        <div class="product__content">
          <p class="product__desc">Стеновая панель Lazashpan шпон файн-лайн Эбен 021 S 1200*300мм LZ &mdash; …</p>
        </div>
      </div>
      <div class="product">
        <div class="product__cover"></div>
        <div class="product__content">
          <p class="product__desc">Стеновая панель Lazashpan шпон файн-лайн Эбен 021 S 1200*300мм LZ &mdash; …</p>
        </div>
      </div>
    </div>
  </div>
</section>