.product-item {
  padding: 2em 0;
  margin-bottom: 2em;

  &__title {
    font-size: 18px;
    max-width: 20em;
    margin-bottom: 1rem;

    @media (min-width: @screen-lg) {
      font-size: 30px;
    }
  }

  &__info {}

  &__info-list {
    list-style-type: none;
  }

  &__info-item {

    &:not(:last-child) {
      margin-bottom: .25em;
    }

    span {
      color: #8A8C94;
      display: inline-block;
      margin-right: 1em;
    }
  }

  &__price {
    font-size: 30px;
    color: @pink;
  }

  &__list-of-photos {

    .row {
      margin-left: -5px;
      margin-right: -5px;
    }

    div[class^="col-"] {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__main-photo {
    width: 100%;
    height: auto;

    a {
      display: block;

      img {
        width: 100%;
      }
    }
  }

  &__other-photos {

    a {
      display: block;
      margin-bottom: 2px;

      @media (min-width: @screen-sm) {
        margin-bottom: 3px;
      }
    }
  }
}