<section class="product-item">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <div class="product-item__list-of-photos">
          <div class="row">
            <div class="col-xs-3">
              <div class="product-item__other-photos">
                <a href="http://via.placeholder.com/500x500" data-fancybox="photos">
                  <img src="http://via.placeholder.com/300x300" alt="" />
                </a>
                <a href="http://via.placeholder.com/600x600" data-fancybox="photos">
                  <img src="http://via.placeholder.com/300x300" alt="" />
                </a>
                <a href="http://via.placeholder.com/700x700" data-fancybox="photos">
                  <img src="http://via.placeholder.com/300x300" alt="" />
                </a>
              </div>
            </div>
            <div class="col-xs-9">
              <div class="product-item__main-photo">
                <a href="http://via.placeholder.com/900x900" data-fancybox="photos">
                  <img src="http://via.placeholder.com/300x300" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7">
        <h2 class="product-item__title">Стеновая панель Lazashpan шпон файн-лайн Эбен 021 S 1200*300мм LZ-FL121203005100000 шт</h2>
        <div class="product-item__info">
          <ul class="product-item__info-list">
            <li class="product-item__info-item">
              <span>Артикул:</span> LZ-FL121203005100000
            </li>
            <li class="product-item__info-item">
              <span>Вид шпона:</span> шпон файн-лайн
            </li>
            <li class="product-item__info-item">
              <span>Порода дерева:</span> Эбэн
            </li>
            <li class="product-item__info-item">
              <span>Мин. количество для заказа:</span> 6
            </li>
          </ul>
          <p class="product-item__price">1800 руб.</p>
          <button class="btn">Заказать</button>
        </div>
      </div>
    </div>
  </div>
</section>