<section class="companies">
  <div class="container">
    <h2 class="main-subtitle">Бренды</h2>
    <div class="companies__slider owl-carousel owl-theme">
      <div class="companies__item">
        <img src="images/company-1.jpg" alt="" class="companies__logo">
      </div>
      <div class="companies__item">
        <img src="images/company-2.jpg" alt="" class="companies__logo">
      </div>
      <div class="companies__item">
        <img src="images/company-3.jpg" alt="" class="companies__logo">
      </div>
      <div class="companies__item">
        <img src="images/company-1.jpg" alt="" class="companies__logo">
      </div>
      <div class="companies__item">
        <img src="images/company-2.jpg" alt="" class="companies__logo">
      </div>
      <div class="companies__item">
        <img src="images/company-3.jpg" alt="" class="companies__logo">
      </div>
      <div class="companies__item">
        <img src="images/company-1.jpg" alt="" class="companies__logo">
      </div>
    </div>
  </div>
</section>