<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="about-us__content">
          <h2 class="main-subtitle">О нас</h2>
          <p class="about-us__text">Roziere &mdash; французская компания, которая занимается изготовлением межкомнатных дверей, отличительными чертами которых являются несравненное качество, прочность и красота. Древесина Франции &mdash; это возвращение к природе, это превосходный и прочный материал. Сегодня в производстве межкомнатных дверей компании Roziere &#8230;</p>
          <div class="more"><a href="#">Ещё</a></div>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-6">
        <div class="about-us__cover" style="background-image: url(images/about-us--cover.png);"></div>
      </div>
    </div>
  </div>
</section>