.about-us {
  padding: 2em 0;

  &__content {
    position: relative;

    &:before {
      position: absolute;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: covert;
      background-image: url(../images/about-us--shape.png);
      width: 200px;
      height: 200px;
      top: 0;
      left: 0;
    }

    @media (min-width: @screen-sm) {
      padding-top: 2em;
      padding-left: 2em;

      &::before {
        content: '';
      }
    }
  }

  &__text {
    margin-bottom: 2em;
    line-height: 25px;
    max-width: 30em;
  }

  &__cover {
    margin-top: 2em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 90%;
    margin: auto;
    min-height: 260px;
  }
}