.about-us-full-info {
  padding: 2em 0;

  &__photo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 270px;
    margin-bottom: 2em;

    @media (min-width: @screen-lg) {
      min-height: 370px;
    }
  }

  &__wrapper {
    position: relative;
    padding-top: 2em;
    padding-bottom: 2em;

    &:before {
      position: absolute;
      content: '';
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: covert;
      background-image: url(../images/about-us--shape.png);
      width: 200px;
      height: 200px;
      top: 0;
      left: 0;
    }
  }

  &__content {

    p {
      line-height: 25px;
      max-width: 30em;
    }

    &--first {

      @media (min-width: @screen-sm) {
        padding-left: 2em;
      }
    }
  }

  .main-subtitle {

    @media (min-width: @screen-sm) {
      padding-left: 2rem;
    }
  }
}