<section class="about-us-full-info">
  <div class="container">
    <div class="row visible-md visible-lg">
      <div class="col-sm-6">
        <div class="about-us-full-info__photo" style="background-image: url(images/about-us-full-info--photo-1.jpg);"></div>
      </div>
      <div class="col-sm-6">
        <div class="about-us-full-info__photo" style="background-image: url(images/about-us-full-info--photo-2.jpg);"></div>
      </div>
    </div>
    <div class="about-us-full-info__wrapper">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="main-subtitle">О нас</h2>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="about-us-full-info__content about-us-full-info__content--first">
            <p>Roziere - французская компания, которая занимается изготовлением межкомнатных дверей, отличительными чертами которых являются несравненное качество, прочность и красота. Древесина Франции — это возвращение к природе, это превосходный и прочный материал. Сегодня в производстве межкомнатных дверей компании Roziere …Roziere - французская компания, которая занимается изготовлением межкомнатных дверей, отличительными чертами которых являются несравненное качество, прочность и красота. Древесина Франции — это возвращение к природе, это превосходный и прочный материал. Сегодня в производстве межкомнатных дверей компании Roziere. Roziere - французская компания, которая занимается изготовлением межкомнатных дверей, отличительными чертами которых являются несравненное качество, прочность и красота. Древесина Франции — это возвращение к природе, это превосходный и прочный материал. Сегодня в производстве межкомнатных дверей компании Roziere</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="about-us-full-info__content">
            <p>Roziere - французская компания, которая занимается изготовлением межкомнатных дверей, отличительными чертами которых являются несравненное качество, прочность и красота. Древесина Франции — это возвращение к природе, это превосходный и прочный материал. Сегодня в производстве межкомнатных дверей компании Roziere …Roziere - французская компания, которая занимается изготовлением межкомнатных дверей, отличительными чертами которых являются несравненное качество, прочность и красота. Древесина Франции — это возвращение к природе, это превосходный и прочный материал. Сегодня в производстве межкомнатных дверей компании Roziere. Roziere - французская компания, которая занимается изготовлением межкомнатных дверей, отличительными чертами которых являются несравненное качество, прочность и красота. Древесина Франции — это возвращение к природе, это превосходный и прочный материал. Сегодня в производстве межкомнатных дверей компании Roziere</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>