.product {
  width: 100%;
  margin-bottom: 10px;

  &__cover {
    background-color: @pink;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 220px;

    @media (min-width: @screen-lg) {
      min-height: 290px;
    }
  }

  &__content {
    border: 1px solid #E9E9E9;
    padding: 1em;
    padding-top: 1.5em;
  }
}