<div class="product-info">
  <div class="container">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Описание</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Характеристики</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <p>Стеновые панели Lazashpan производятся на основе плиты ГСП. В качестве внешнего покрытия используется натуральный шпон разных пород дерева. Поверхность панелей покрыта матовым полиуретановым лаком 10%, который производит известная итальянская компания Sirca. Стеновые панели Lazashpan изготавливаются на собственном производстве в России, оснащенном новейшим оборудованием. На производстве проводится жесткий контроль качества на всех этапах— от поставки сырья и производства, до упаковки и транспортировки. Ассортимент очень широк. В наличии более 140 пород натурального дерева, 75 видов реконструированного шпона. Стеновые панели Lazashpan можно использовать в залах и на путях эвакуации — в коридорах, холлах (фойе), вестибюлях и лестничных клетках.</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
        <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Сбить, имени, языком? Несколько встретил точках послушавшись, щеке, имени вершину, даже снова скатился большой грустный пояс языком проектах ведущими над.</p>
      </div>
    </div>
  </div>
</div>