.product-info {
  padding: 1em 0;

  .nav-tabs > li > a {
    color: @text-color;
    background-color: #F8F8F8;
  }

  .nav-tabs > li.active > a {
    color: @text-color;
    background-color: @white;
  }
}