.main-address {
  font-style: normal;
  text-align: right;

  &__list {
    list-style-type: none;
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: .25em;
    }

  }

  &__link {
    line-height: 1.1em;

    &--phone {
      font-size: 18px;
      color: @text-color;

      @media (min-width: @screen-sm) {
        font-size: 20px;
      }
    }

    &--e-mail {
      font-size: 14px;
      color: #8A8C94;
    }

    &--bg-dark {
      color: @white;
    }
  }

  &--in-header {
    padding-top: 0.4em;
  }

  &--in-footer {
    padding-top: .25em;

    @media (max-width: (@screen-sm - 1)) {
      text-align: left;
    }
  }
}